@model bmcdavid.Web.Models.ViewModels.SimpleWebPage

@Html.Partial("PageHeading", "Code")
<div class="row">
    <div class="col-md-12">
        <p>
            My projects can be found on <a href="https://www.github.com/bmcdavid">GitHub</a>.
        </p>
        <div class="code-holder">
            <div class="code-item">
                <b><a href="https://bmcdavid.github.io/DotNetStarter">DotNetStarter</a></b>
                <p>
                    Provides a startup engine and abstracted service locator that allows for an inversion of control (IoC) container such as <a href="https://bitbucket.org/dadhi/dryioc">DryIoc</a> and <a href="http://structuremap.github.io/">Structuremap</a> to be swapped at runtime using an ILocator abstraction.
                </p>
            </div>
            <div class="code-item">
                <b><a href="https://github.com/TCB-Internet-Solutions/vulcan">Vulcan</a></b>
                <p>
                    An Elasticsearch client that indexes Episerver CMS and Commerce content.
                </p>
            </div>
        </div>
    </div>
</div>