@model SimpleWebPage

@Html.Partial("PageHeading", "Work Experience")
<div class="row">
    <div class="col-md-12">
        <div class="job-holder">
            <div class="job-item">
                <h5>WSOL</h5>
                <div class="job-title">Product Manager <span>2014 - Current</span></div>
                <ul class="list-group">
                    <li class="list-group-item">Streamlined development process with continuous integration and delivery using Git, Visual Studio Team Services, and Octopus Deploy.</li>
                    <li class="list-group-item">Develop and maintain company website using the excellent Episerver content management system (CMS).</li>
                    <li class="list-group-item">Contributor to great Elasticsearch open source project Vulcan, for indexing and searching Episerver CMS content.</li>
                    <li class="list-group-item">Create and maintain NuGet packages to simplify development startup across multiple content management solutions.</li>
                    <li class="list-group-item">Integrated company marketing automation platform (MAP) with client management system using RESTful APIs.</li>
                    <li class="list-group-item">Built GulpJS and MVC view engine for front-end designers to quick start design process through lo-fi, hi-fi, and final templates for client projects.</li>
                    <li class="list-group-item">Mentor developers to improve coding, troubleshooting, and communication skills</li>
                </ul>
                <div class="job-title">Lead Developer <span>2011 -2014</span></div>
                <ul class="list-group">
                    <li class="list-group-item">Lead development of WSOL's latest version of the Super Template (a dynamic Ektron CMS template empowering users in flexible layouts from a single ASP.Net page), utilizing the latest web standards including responsive web design and Ektron CMS PageBuilder.</li>
                    <li class="list-group-item">Architected and developed new features or extensions to the core web product framework.</li>
                    <li class="list-group-item">Lead best practice development implementations for clients ensuring successful projects that meet client's needs.</li>
                    <li class="list-group-item">Mentored developers to improve coding, troubleshooting, and communication skills</li>
                </ul>
            </div>
            <div class="job-item">
                <h5>Ektron</h5>
                <div class="job-title">CMS Architect <span>2010 - 2011</span></div>
                <ul class="list-group">
                    <li class="list-group-item">Communicated project information through functional specifications, information architecture, and implementation guides to ensure clients' requirements have been captured.</li>
                    <li class="list-group-item">Served as technical lead with development teams throughout website design and implementation.</li>
                    <li class="list-group-item">Provided best practice recommendations to clients in setup and implementation of Ektron CMS 400.NET.</li>
                </ul>
            </div>
            <div class="job-item">
                <h5>Morehead State University</h5>
                <div class="job-title">Web Content Architect <span>2005 - 2010</span></div>
                <ul class="list-group">
                    <li class="list-group-item">Developed a PHP / MySQL self-service web application that allows users to maintain a single password for Active Directory and Open LDAP authentication, create and forward e-mail addresses, and automate key business processes with ERP integration through a custom web service.</li>
                    <li class="list-group-item">Implemented Ektron CMS300 to migrate Morehead State University's website from 30,000+ static HTML files to a database driven website with over 25,000 content items.</li>
                    <li class="list-group-item">Designed strong system architecture to allow for reusable templates built around the latest Web standards such as XHTML, CSS, XML, XSLT, and ASP.NET.</li>
                    <li class="list-group-item">Customized Ektron CMS by creating multiple RSS feeds utilizing XML from list summaries and taxonomies, with XSLT.</li>
                    <li class="list-group-item">Performed training courses and support for faculty, staff, students and campus organizations maintaining content in the Ektron CMS and the Datatel e-Marketing CMS for Active Admissions / Active Alumni.</li>
                    <li class="list-group-item">Served as a technical liaison between the Office of Communications and Marketing and the Office of Information Technology.</li>
                </ul>
            </div>
        </div>
    </div>
</div>