@model IWebPage
<div class="row">
    <div class="col-md-8">
        <h1 class="text-pachyderm">@Model.PageTitle</h1>
        <p>I am a proud father of two awesome little girls, with an amazing better-half who is currently pursuing her master's degree in counseling. We live in a tiny, peaceful town in north-eastern Kentucky, which is sadly technology poor; but I do enjoy the remote commute to the excellent digital agency <a href="https://www.wsol.com">WSOL</a>, located in the greater Chicago area.</p>
        <p>I strive to always improve and learn new things, many times through failures. I love to code and write useful tools that are customizable through the use of inversion of control and dependency injection; also, I really enjoy learning and using all the great things happening in DevOps like continuous delivery and cloud platforms, such as Amazon Web Services.</p>
        <p>Outside of family and work, I enjoy playing Xbox; tinkering with software like <a href="https://kodi.tv/">Kodi</a>, <a href="https://www.silicondust.com/">HDHomerun</a>, <a href="http://www.nextpvr.com/">NextPVR</a>; and on rare, but great, occasions brewing beer with friends.</p>
    </div>
    <div class="col-md-4">
        <div class="card flex-md-row mb-4 bg-dark text-white box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <img src="/images/2423177.jpg" class="rounded-circle w-50 mx-auto d-block" />
                <h3 class="mb-0 mx-auto">Brad McDavid</h3>
                <p class="card-text mb-auto">Enter social things</p>
            </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-pachyderm" href="/blog">Latest Blogs</a>
                </h3>
                <ul class="card-text list-group">
                    <li class="list-group-item">To do 1</li>
                    <li class="list-group-item">To do 2</li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- #about -->